extend ../../layouts/default

block main
  h1 Permission Group
  .card.mt-3
    .card-header List
    .card-body 
      .row
        .col-8 
        .col-4 
          a(href=`${prefixAdmin}/role/create` class="btn btn-outline-success") + Add New

  table(class="table table-hover table-lg")
    thead 
      tr  
        th ID
        th Title
        th Decription
        th Action

    tbody 
      each item, index in records
        tr          
          td #{index + 1}        
          td #{item.title}         
          td #{item.description}         
          td
            a(class="btn btn-secondary btn-sm" href=`${prefixAdmin}/role/detail/${item.id}`) Detail
            a(class="btn btn-warning btn-sm" href=`${prefixAdmin}/role/edit/${item.id}`) Edit
            button(class="btn btn-danger btn-sm" button-delete=item.id) Delete
