extend ../layouts/default
include ../mixins/table-tree


block main
  h1 Category
  .card.mt-3
    .card-header List
    .card-body 
      .row
        .col-8 
          form(
            action=`${prefixAdmin}/product/change-multi?_method=PATCH`
            method="POST"
            form-change-multi 
          )

            .d-flex.align-items-start
              .form-group   
                select(name="type" class="form-control")
                  option(disabled selected) --Choose action--
                  option(value="active") Active
                  option(value="inactive") Inactive
                  option(value="delete") Delete
                  option(value="position") Change Position
              .form-group 
                input(
                  type="text"
                  name="ids"
                  value=""
                  class="form-control d-none"
                )
              button(type="submit" class="btn btn-primary") Apply     
        .col-4 
          a(href=`${prefixAdmin}/category/create` class="btn btn-outline-success") + Add New
  
  table(class="table table-hover table-lg" checkbox-multi)
    thead 
      tr  
        th.checkbox
          input(
            type="checkbox"
            name="checkall"
          )
        th.id-col ID
        th.thumbnail-col Thumnail
        th.title-col Title
        th.position-col Positon
        th.status-col Status
        th.action-col Action
    if records 
      +table-tree(records)