extend ../layouts/default
include ../mixins/select-tree



block main

  h1 Create Category
  form(
    action=`${prefixAdmin}/category/create`
    method="POST"
    enctype="multipart/form-data"
  )
    div(class="form-group")
      label(for="title") Title 
      input(
        type="text"
        class="form-control"
        id="parent_id"
        name="title"        
      )
    div(class="form-group")
      label(for="parent_id") Parent Category 
      select(
        class="form-control"
        id="parent_id"
        name="parent_id"        
      )
        option(value="") --Select parent category--
        if records
          +select-tree(records)
          

    div(class="form-group")
      label(for="desc") Description 
      textarea(
        class="form-control textarea-mce"
        id="desc"
        name="description"
      )
    
    div(class="form-group" upload-image) 
      label(for="thumbnail") Thumbnail 
      input(
        type="file"
        class="form-control-file"
        id="thumbnail"
        name="thumbnail"
        accept="image/*"
        upload-image-input
      )
      img(src="" alt="lol" upload-preview-image)
    
    div(class="form-group")
      label(for="pos") Position 
      input(
        type="number"
        class="form-control"
        id="pos"
        name="position"
        placeholder="Auto increment"
        min="1"
            
      )
    
    div(class="form-group form-check form-check-inline")
       
      input(
        type="radio"
        class="form-check-input"
        id="statusActive"
        name="status"
        value="active"
        checked
        required 
      )
      label(for="statusActive") Active
    div(class="form-group form-check form-check-inline")
       
      input(
        type="radio"
        class="form-check-input"
        id="statusInactive"
        name="status"
        value="inactive"
        required 
      )
      label(for="statusInactive") Inactive

    div(class="form-group")
      button(
        type="submit"
        class="btn btn-primary"
      ) Create
