siderbar.sidebar
  .inner-menu 
    ul 
      li 
        a(href=`${prefixAdmin}/dashboard`) Dashboard 
      if(user_role.permissions.includes('products-view'))      
        li
          a(href=`${prefixAdmin}/product`) Product 
      if(user_role.permissions.includes('products-category_view'))
        li
          a(href=`${prefixAdmin}/category`) Category
      if(user_role.permissions.includes('permissions-view'))      
        li
          a(href=`${prefixAdmin}/role`) Permission
      if(user_role.permissions.includes('auth-view'))           
        li
          a(href=`${prefixAdmin}/authorize`) Authorization
      if(user_role.permissions.includes('acc-view'))           
        li
          a(href=`${prefixAdmin}/account`) Account

