siderbar.sidebar
  .inner-menu 
    ul 
      li 
        a(href=`${prefixAdmin}/dashboard`) Dashboard 
      li
        a(href=`${prefixAdmin}/product`) Product 
      li
        a(href=`${prefixAdmin}/category`) Category
      li
        a(href=`${prefixAdmin}/role`) Permission
      li
        a(href=`${prefixAdmin}/authorize`) Authorization

